*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --montserrat: "Montserrat", system-ui;
    --bold: 800;
    --bold-light: 600;

    --primary-color: #FDF5E6;
    --secondary-color: #BC885D;
    --accent-color: #4D908E;
}

body{
    background-image: url(../images/layered-peaks-haikei.svg);
    background-size: cover; /* This stretches the image to cover the entire screen */
    background-position: center; /* Keeps the image centered */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Ensures the background takes up the full viewport height */
    margin: 0;
}

.grid-container{
    display: grid;
    place-items: center;
}

.title{
    background-color: var(--accent-color);
    width: 50vw;
    height: 50vh;
}